unicloud.projektstudencki.pl {
    route /api* {
        reverse_proxy 127.0.0.1:8080 {
            header_up *
        }
    }

    route /restart-webhook* {
        reverse_proxy 127.0.0.1:3001
    }

    handle_path /mailhog* {
        reverse_proxy 127.0.0.1:8025
        @assets {
            path_regexp assets ^/mailhog/(.*)$
        }
        rewrite @assets /{http.regexp.assets.1}
    }

    reverse_proxy 127.0.0.1:3000
    log
}
