services:
  uc-backend:
    container_name: uc-backend
    image: ghcr.io/project-unicloud/uc-backend:latest
    environment:
      JAVA_TOOL_OPTIONS: ${JAVA_TOOL_OPTIONS:--agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005 -Xmx512m}
      POSTGRES_HOST: ${POSTGRES_HOST:-database-postgres}
      POSTGRES_PORT: ${POSTGRES_PORT:-5432}
      POSTGRES_DB: ${POSTGRES_DB:-unicloud}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_USER: ${POSTGRES_USER:-user}
      ORIGIN: ${ORIGIN:-http://localhost:3000}
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE:-}
      SPRING_MAIL_HOST: ${MAIL_HOST:-mailhog}
      SPRING_MAIL_PORT: ${MAIL_PORT:-1025}
      SPRING_MAIL_USERNAME: ${MAIL_USERNAME:-}
      SPRING_MAIL_PASSWORD: ${MAIL_PASSWORD:-}
      SPRING_MAIL_SMTP_AUTH: ${MAIL_SMTP_AUTH:-false}
      SPRING_MAIL_SMTP_STARTTLS: ${MAIL_SMTP_STARTTLS:-false}
      BACKEND_PORT: ${BACKEND_PORT:-8008}
      BACKEND_DEBUG_PORT: ${BACKEND_DEBUG_PORT:-5005}
      LDAP_CERT_PATH: ${LDAP_CERT_PATH:-/app/config/ldap-cert.pem}
      JWT_EXPIRATION_TIME_IN_MS: ${JWT_EXPIRATION_TIME_IN_MS:-3600000}
      JWT_SECRET: ${JWT_SECRET:-80665a9679b324621f032be60e72912be9db6724ea5fae55f5639a36ec202c60}
      COST_SYNC_CRON: ${COST_SYNC_CRON:-0 */10 * * * *}
    volumes:
      - ./ldap/ldap-cert.pem:/app/config/ldap-cert.pem:ro
    ports:
      - "${BACKEND_PORT:-8080}:8080"
      - "${BACKEND_DEBUG_PORT:-5005}:5005"
    depends_on:
      - uc-adapter-aws
  uc-frontend:
    container_name: uc-frontend
    image: ghcr.io/project-unicloud/uc-frontend:latest
    ports:
      - "${FRONTEND_PORT:-3000}:3000"
    environment:
      BACKEND_API_URL: ${BACKEND_API_URL:-http://localhost:8080}
  uc-adapter-aws:
    container_name: uc-adapter-aws
    image: ghcr.io/project-unicloud/uc-adapter-aws:latest
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-}
    ports:
      - "${AWS_ADAPTER_PORT:-50051}:50051"
  uc-adapter-azure:
    container_name: uc-adapter-azure
    image: ghcr.io/project-unicloud/uc-adapter-azure:latest
    environment:
      AZURE_TENANT_ID: ${AZURE_TENANT_ID}
      AZURE_CLIENT_ID: ${AZURE_CLIENT_ID}
      AZURE_CLIENT_SECRET: ${AZURE_CLIENT_SECRET}
      AZURE_SUBSCRIPTION_ID: ${AZURE_SUBSCRIPTION_ID}
      AZURE_DEFAULT_RESOURCE_GROUP: ${AZURE_DEFAULT_RESOURCE_GROUP}
      AZURE_DEFAULT_REGION: ${AZURE_DEFAULT_REGION}
      AZURE_UDOMAIN: ${AZURE_UDOMAIN}
    ports:
      - "${AZURE_ADAPTER_PORT:-50053}:50053"
  mailhog:
    profiles: ["local", "dev"]
    container_name: mailhog
    image: mailhog/mailhog
    ports:
      - "8025:8025"
      - "1025:1025"
  database-postgres:
    profiles: ["local"]
    image: postgres:15
    environment:
      POSTGRES_DB: unicloud
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: