services:
  uc-backend:
    depends_on:
      - database-postgres
    environment:
      POSTGRES_HOST: database-postgres
      ADAPTER_AWS_HOST: uc-adapter-aws
      MAIL_HOST: mailhog

  database-postgres:
    pull_policy: always
    image: postgres:15
    environment:
      POSTGRES_DB: unicloud
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - uc-network

networks:
  uc-network: